.feeInfo {
  position: relative;
  overflow: hidden;

  .bgImg {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
    position: relative;
    z-index: 999999;

    .illustration {
      width: 60%;
      display: flex;

      img {
        height: 350px;
      }
    }

    .words {
      width: 40%;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: #165baa;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 36px;
        text-align: center;
      }

      .fees {
        // display: grid;
        // grid-template-columns: repeat(2, minmax(0, 1fr));
        // column-gap: 60px;
        // row-gap: 30px;
        // width: 100%;
        padding: 30px 30px;
        white-space: nowrap;

        .fee {
          h5 {
            color: #165baa;
          }
        }
      }
    }
  }
}
