.button {
  padding: 14px 64px;
  border-radius: 10px;
  white-space: nowrap;
  font-weight: 600;

  &.primary {
    background-color: #165baa;
    color: #ffffff;
  }

  &.dark {
    background-color: #000;
    color: #ffffff;
  }
}
