.hero {
  position: relative;
  overflow: hidden;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin: 0 60px;
    z-index: 99999;
    position: relative;

    .illustration {
      display: flex;
      justify-content: flex-end;
      padding: 0 60px;
    }

    .words {
      h1 {
        color: #165baa;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 36px;
      }
    }
  }
}
