.featured {
  position: relative;
  overflow: hidden;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin: 0 60px;

    .illustration {
      width: 50%;

      img {
        height: 500px;
      }
    }

    .words {
      width: 50%;
      text-align: center;

      h1 {
        color: #165baa;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 36px;
      }

      .actions {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .action {
          text-align: center;
        }
      }
    }

    .blue{
      color: #165baa;
    }
  }
}
