.footer {
  background-color: #000;
  color: #ffffff;

  .wrapper {
    display: flex;
    padding: 100px 0;
    margin: 0 60px;

    .logo {
      margin-right: 60px;

      img {
        height: 100px;
      }
    }

    .contact {
      h1 {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
