.header {
  height: 100px;
  position: relative;
  background-color: #fff;

  .bgImg {
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;

    .logo {
      height: 100%;
      display: flex;
      align-items: center;

      img {
        height: 60px;
        z-index: 99999;
      }
    }

    .menu {}
  }

}
