.licenced {
  position: relative;
  overflow: hidden;

  .bgBlue {
    width: 100%;
    height: 480px;
    background-color: #165baa;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin: 0 60px;

    .illustration {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      padding: 60px 0;

      img {
        height: 500px;
      }
    }

    .words {
      width: 50%;

      h1 {
        color: #ffffff;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 180px;
      }

      h3 {
        font-size: 30px;
      }
    }
  }
}
