@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f6;
}
